body {
  margin-top: 30px;
}

.navbar-inverse .navbar-brand {
  font-family: 'Roboto', cursive;
  font-size: 36px;
  color: #92d050;
  background-color: white;
  /*padding-top: 20px;*/

}
h1.title {
  font-family: 'Roboto';
  font-size: 16px;
  color: #92d050;
  border-bottom: solid #92d050;
  border-bottom-width: thin;
  margin: 4px;
  padding: 4px;
}

h1.services {
  font-family: 'Roboto';
  font-size: 16px;
  color: #00b0f0;
  border-bottom: solid #00b0f0;
  border-bottom-width: thin;
  margin: 4px;
  padding: 4px;
}
.tender {
  font-family: 'Roboto';
  font-size: 14px;
  color: #92d050;
}
.life {
  font-family: 'Roboto';
  font-size: 14px;
  color: #00b0f0;
}
.body-text {
  font-family: 'Roboto';
  font-size: 12px;
}
.list {
  font-size: 12px;
  color: #00b0f0;
}
.copyright {
  font-size: 8px;
  color: gray;
}
.timeslot {
  font-size: 12px;
  border-top: solid gray;
  border-top-width: thin;
  padding-top: 4px;
}
.bloglist {
  font-size: 12px;
  color: gray;
  font-style: italic;
}
h2 {
  font-size: 22px;
}
.rating {
  font-size: 0.4em;
  text-transform: uppercase;
  border: 1px solid #ccc;
  padding: 4px;
  vertical-align: middle;
}
.summary h2, .actors h4 {
  margin-top: 0;
}
.review {
  margin-bottom: 30px;
}

form .btn-default {
  color: #9d9d9d;
  background-color: white;
}
.navbar {
  background-color: white;
}
